<!DOCTYPE html>
<html>
    <head>
        <title>
            Admin Home
        </title>
        <link rel="icon" href="online.png">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <style>
        body{
            background-image: url(doc.svg);
            background-repeat: no-repeat;
            background-size: 40%;
            background-position-x: 5%;
            background-position-y: 100px;
        }

        .buttons{
            text-align: center;
            margin-top: 25%;
            margin-left: 15%;
            margin-right: 15%;
        }

        .card{
            border: none !important;
            padding: 1%;
            margin-right: 15%;
        }

        .card:hover{
            transform: scale(1.1);
        }

    </style>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="online.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Online Clinic System
              </a>
            </div>
        </nav>
        <center><h1 style="color: rgb(248, 195, 131); margin-top: 2%;">Admin Login</h1></center>
        <div class="row">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-6">
                <div class="row buttons">
                    <div class="card col-lg-3" style="width: 30%;">
                        <a href="/adminlogin"><img src="login.png" class="card-img-top"></a>
                        <div class="card-body">
                            <p>Login</p>  
                        </div>
                    </div>
                    <div class="card col-lg-3" style="width: 30%">
                        <a href="/adminregister"><img src="register.png" class="card-img-top"></a>
                        <div class="card-body">
                            <p>Register</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>